Widget > QLabel {
    font: 24px 'Segoe UI', 'Microsoft YaHei';
    border-radius: 10px;
}
Widget {
    border: 1px solid rgb(229, 229, 229);
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,stop:0 rgba(255, 255, 255,230), stop:1 rgba(50, 50, 200,245));

}

Window {
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(243, 243, 243);
}

